* {
    box-sizing: border-box;
}
body {
    background: linear-gradient(47deg, #5672d1 0%, #685ec3 26%, #8d35a5 82%);
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    margin-right: 6rem;
    margin-left: 6rem;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}
.left {
    padding-top: 4rem;
    width: 42%;
    }
.tag {
    padding-top: 10rem;
}
.tag h2 {
    font-family: Georgia;
    font-size: 2.5em;
    margin-bottom: 1rem;
}
.tag ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
}
.tag p {
    font-weight: 300;
    font-size: 1.3em;
    color: lightgray;
    margin-top: 0;
}
ul li{
    width: 30%;
}
.button {
    border-radius: 5rem;
    font-size: 1em;
    color: white;
    text-decoration: none;
    display: inline-block; 
    padding: .5rem 1.8rem .5rem 1.8rem;
    background: linear-gradient(60deg, #98349b 0%, #c94693 25%, #ef558d 78%, #f8bc05 100%);
}
.button:hover {
    background: linear-gradient(60deg, #f8bc05 0%, #ef558d 25%, #c94693 78%, #98349b 100%);
}
.link {
    padding-top: .5rem;
}
.link a {
    font-size: 1em;
    color: white;
    text-decoration: none;
}
.link a:hover {
    border-bottom: 2px solid white;
}
.right {
    padding-top: 4rem;
    width: 58%;
    display: flex;
    flex-direction: row;
}
.righttweets {
    margin-top: 4rem;
}
.right ul {
    width: 50%;
    list-style-type: none;
    padding: 0 1%;
}
.right li {
    background-color: white;
    width: 100%;
    margin-bottom: 3rem;
    border-radius: 4px;
    color: gray;
    padding: 5%;
    font-size: 1.5em;
    font-weight: 300;
}
.quotedate {
    padding-left: 25%;
    font-size: 1rem;
}
.quotename {
    font-size: 1rem;
}
.twitterpic {
    border-radius: 100%;
    position: relative;
    margin-top: -50%;
    margin-left: 5%;

}
.handle {
    text-decoration: none;
    color: #f47e67;
}
.hash {
    text-decoration: none;
    color: #f47e67;
}
body > div {
    display: inline-block; 
}
.head {
    font-size: 2em; 
}
.head a {
    text-decoration: none;
    color: #ffffff;
}
footer {
    position: fixed;
    bottom: 3rem;
    font-size: 1.1em;
    font-weight: 300;
}
.customers {
    color: #f47e67;
}
@media (max-width: 1185px) {
   body {
       flex-direction: column;
       width: 100%;
       margin: 0;
   }  
   .left {
       width: 100%;
       text-align: center;
   }
   .right {
       width: 100%;
   }
   footer {
       bottom: 10px;
       position: relative;
       text-align: center;
   }
   .tag ul {
       flex-direction: column;
   }
   .tag li {
       margin: auto;
   }

}

